[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/usr/sbin/uwsgi --ini /etc/uwsgi.d/%i.ini
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

